@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ramaraja&display=swap");
#section-1 {
  background: url(../images/desktop/image-hero.jpg) no-repeat center;
  background-size: cover;
  height: 85vh; }
  #section-1 .head {
    position: absolute;
    top: 12rem;
    color: #fff;
    font-size: 4.4rem;
    width: 640px;
    font-weight: 100;
    padding: 1.2rem 4rem 1.2rem 1rem;
    border: #fff solid 2px;
    line-height: 1.1; }

.header {
  width: 100%;
  z-index: 3; }

.header ul {
  list-style: none;
  overflow: hidden;
  margin-top: 2rem; }

.header li a {
  display: block;
  text-decoration: none;
  color: #fff; }

.header li a:hover,
.header .menu-btn:hover {
  opacity: 0.2; }

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 45px 20px;
  text-decoration: none; }

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out; }

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  margin-block-start: 2rem; }

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 22px; }

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%; }

.header .menu-icon .navicon:before {
  top: 5px; }

.header .menu-icon .navicon:after {
  top: -5px; }

/* menu btn */
.header .menu-btn {
  display: none; }

.header .menu-btn:checked ~ .menu {
  max-height: 300px; }

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent; }

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg); }

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg); }

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0; }

/* 48em = 768px */
@media (min-width: 48em) {
  #section-1 .header li {
    float: left; }
  #section-1 .header li a {
    padding: 30px 40px; }
  #section-1 .header .menu {
    clear: none;
    float: right;
    max-height: none; }
  #section-1 .header .menu-icon {
    display: none; } }

#section-2 {
  margin-block-start: 8rem; }
  #section-2 .p1 {
    display: flex;
    position: relative; }
    #section-2 .p1 .cont {
      padding: 4.2rem 6rem;
      background: #fff;
      height: 320px;
      position: absolute;
      width: 50%;
      bottom: 0rem;
      left: 35rem; }
      #section-2 .p1 .cont h2 {
        font-size: 2.8rem;
        line-height: 1.2;
        margin-block-end: 1rem; }
      #section-2 .p1 .cont p {
        color: #888383; }

#section-3 {
  margin-top: 10rem; }
  #section-3 .mobile-cont {
    display: none; }
  #section-3 .title {
    display: flex;
    justify-content: space-between; }
    #section-3 .title marg h2 {
      font-size: 3rem;
      font-weight: 100; }
    #section-3 .title .button {
      padding: 0.8rem 2.4rem;
      width: 12rem;
      height: 3rem;
      border: #000 solid 2px;
      font-size: 1.1rem;
      letter-spacing: 5px; }
  #section-3 .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.7rem;
    margin-block-end: 6rem; }
    #section-3 .image-container :hover {
      cursor: pointer;
      opacity: 0.8; }
    #section-3 .image-container .card {
      position: relative; }
      #section-3 .image-container .card img {
        width: 100%;
        filter: brightness(60%); }
      #section-3 .image-container .card p {
        position: absolute;
        bottom: 35px;
        left: 15px;
        color: white;
        text-align: center;
        font-size: 2rem;
        justify-content: center;
        font-weight: 100;
        width: 55%;
        height: min-content; }

#footer {
  height: 20vh;
  background: #000;
  overflow: hidden; }
  #footer .logos {
    display: flex;
    justify-content: space-between; }
    #footer .logos .social {
      display: inherit;
      gap: 1.5rem;
      height: 100%; }
  #footer .foot-nav {
    display: flex;
    color: #fff;
    justify-content: space-between; }
    #footer .foot-nav .menu-2 li {
      display: inline-flex;
      margin: 0 1rem 0 0; }
    #footer .foot-nav .menu-2 a {
      color: #fff; }

@media (max-width: 600px) {
  .container {
    margin-inline: auto; }
  #section-1 {
    background: url(../images/mobile/image-hero.jpg) cover center no-repeat;
    height: 70vh; }
    #section-1 .head {
      top: 15rem;
      width: 80%;
      font-size: 2.5rem;
      height: 220px; }
  #section-2 .p1 {
    display: flex;
    flex-direction: column; }
    #section-2 .p1 img {
      height: 100%;
      width: 100%; }
    #section-2 .p1 .cont {
      position: static;
      width: 100%;
      padding: 1rem; }
      #section-2 .p1 .cont h2 {
        font-size: 2.6rem;
        text-align: center;
        font-weight: 100;
        padding: 0.5rem;
        letter-spacing: 2px;
        color: #1a1a1a; }
      #section-2 .p1 .cont p {
        text-align: center;
        line-height: 1.2;
        letter-spacing: 1px; }
  #section-3 {
    height: 220vh;
    margin-block-start: 3rem; }
    #section-3 .image-container,
    #section-3 .button {
      display: none; }
    #section-3 h2 {
      font-size: 2.2rem;
      margin-inline: auto;
      font-weight: 100;
      letter-spacing: 4px;
      text-align: center; }
    #section-3 .mobile-cont {
      display: block; }
      #section-3 .mobile-cont :hover {
        cursor: pointer;
        opacity: 0.8; }
      #section-3 .mobile-cont .mcard {
        position: relative; }
        #section-3 .mobile-cont .mcard img {
          width: 100%;
          background: black;
          filter: brightness(70%); }
        #section-3 .mobile-cont .mcard p {
          position: absolute;
          color: #fff;
          bottom: 2rem;
          left: 2rem;
          font-size: 2.3rem;
          width: 20%;
          font-weight: 100; }
    #section-3 .m-button {
      padding: 0.8rem 2.4rem;
      max-width: 12rem;
      height: 3rem;
      border: #000 solid 2px;
      font-size: 1.1rem;
      letter-spacing: 5px;
      margin-inline-start: 6rem; }
    #section-3 .m-button:hover {
      background: #6e6c6c;
      color: #fff;
      border: none;
      transition: 0.5s; }
  #footer {
    height: 55vh; }
    #footer .standard {
      display: none; }
    #footer .m-footer {
      display: flex;
      flex-direction: column;
      align-items: center; }
      #footer .m-footer .mlogo {
        height: 50%;
        width: 50%; }
      #footer .m-footer .menu-3 {
        display: inherit;
        flex-direction: column;
        text-align: center;
        gap: 1.3rem; }
        #footer .m-footer .menu-3 a {
          color: #fff;
          font-size: larger; }
      #footer .m-footer .msocial a {
        margin: 0.5rem; }
      #footer .m-footer .mcopy {
        color: #c0bebe; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff;
  font-family: "Readex Pro", sans-serif;
  font-family: "Spline Sans", sans-serif; }

a,
li {
  text-decoration: none;
  list-style: none;
  color: black; }

.container {
  width: 80%;
  margin-inline: auto;
  height: 100%; }

.mg-b {
  margin-block-end: 4rem; }

.mg-b1 {
  margin-block-end: 2rem; }

.mg-b3 {
  margin-block-end: 5rem; }

.mg-t {
  margin-block-start: 2.5rem; }
