@import "header";
@import "section-2";
@import "section-3";
@import "footer";
@import "media";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Ramaraja&display=swap");
$color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color;
  font-family: "Readex Pro", sans-serif;
  font-family: "Spline Sans", sans-serif;
}

a,
li {
  text-decoration: none;
  list-style: none;
  color: black;
}

// utilities

.container {
  width: 80%;
  margin-inline: auto;
  height: 100%;
}

// Margins

.mg-b {
  margin-block-end: 4rem;
}

.mg-b1 {
  margin-block-end: 2rem;
}

.mg-b3 {
  margin-block-end: 5rem;
}

.mg-t {
  margin-block-start: 2.5rem;
}
